


body > div {
	background-color: white;
	border-style: solid;
	color: #ffd24a;
	border-width: 1px;
}

div section {
	font-family: sans-serif;
	color: black;
	border-bottom: solid;
	border-color: #eee;
	border-width: 5px;
	padding-bottom: 30px
}

body {
	background-color: rgb(131, 149, 159);
}

body > div {
	width:800px;
	margin:20px auto;
}

h3 {
	color: #1fabe5;
}

#site_header {
	background-color: #ff8523;
	padding-bottom: 20px;
}

#page_content {
	padding: 10px;
	border: 0px;
}


h2 {
	font-size: 1.5em;
	color: #1fabe5;
}

li ul {
	font-weight: 700;
	width: 50px
}

p a {
	color: #1fabe5;
}

nav a {
	border-style: solid;
	color: white;
	border-width: 1px;
	padding: 5px 20px;
	text-decoration: none;
	border-radius:5px;
	font-weight:400;
	margin:0 5px;
}

#logo {
	display: block;
	padding: 20px 10px;

}

table {
	border:1px solid #000;
	border-collapse:collapse;
}

th, td {
	border:1px solid #1fabe5;
}

tbody tr td:nth-child(2) {
	text-align:center;
}

thead td{
	background-color: #1fabe5;
	padding: 20px;
	color:white;
}

td img {
	width:50px;
}


textarea {
	border: solid;
	border-width: 2px;
	border-color: #1fabe5; 
	margin: 5px;
	font-size: 12px;
}

.name {
	color: white;
	padding:20px;
	background-color: #ff8523;
	border-radius: 5px;
	width: 500px;
	margin: 20px;
}

form {
	background:#eee;
	padding: 5px;
}

.city_container {
	font-weight: bold;
	margin: 20px;
}

.bio {
	font-weight: bold;
	margin: 20px;
}

/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/